{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}

{% block content %}

	<section id="profile">
		<div class="container">
			<div class="row">

				<div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2">
					<div id="profile-form" class="form">{% csrf_token %}
						<div class="col-sm-8">
			        	<input type="text" placeholder="{{ user.email }}" disabled />
			          <input id="first-name" type="text" {% if user.first_name %} placeholder="{{ user.first_name }}" {% else %} placeholder="first name" class="placeh" {% endif %} />
			          <input id="last-name" type="text" {% if user.last_name %} placeholder="{{ user.last_name }}" {% else %} placeholder="last name" class="placeh" {% endif %} />
								<input id="address" type="text" {% if user.userprofile.address %} placeholder="{{ user.userprofile.address }}" {% else %} placeholder="address" class="placeh" {% endif %}  />
								<input id="phone-number" type="text" {% if user.userprofile.phone_number %} placeholder="{{ user.userprofile.phone_number }}"  {% else %} placeholder="phone number" class="placeh" {% endif %}  /><br>
								<div class="buttons-profie">
									<button class="btn-remove" type="submit"><a href="{% url 'home' %}">&times; Cancel</a></button>
			          	<button id="update-profile" action="{% url 'profile_update' %}" class="update-btn">update</button>
    				</div>
    				<div class="col-sm-4"></div>
    			</div>
    		</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block extra_js %}
  <script src="{% static "js/profile.js" %}"></script>
{% endblock %}
