 {% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "css/smartphone_details.css" %}">
{% endblock %}

{% block content %}
  <section id="details">
    <div class="container bgc-wh">
      <div class="row">
        <div class="col-sm-5">
          {% if product.photo %}
            <img class="img-detail" src="{{ pr.photo.url }}" class="hover-shadow cursor">
          {% else %}
            <img class="photo-phone-error" height="350" width="350" src="{% static "img/default_sm.png" %}">
          {% endif %}
        </div>

        <div class="col-sm-7">
            <h3 class="header-phone">{{ product.brand }} {{ product.model }}</h3><hr>

            <div class="col-sm-12">
              <div id="rating" class="rating" data-product_id="{{ product.id }}" data-url="{% url 'update_rating' %}" data-rating="{{ vote }}">
                {% csrf_token %}
                <span id="vote-1" class="fa fa-star" data-vote="1"></span>
                <span id="vote-2" class="fa fa-star" data-vote="2"></span>
                <span id="vote-3" class="fa fa-star" data-vote="3"></span>
                <span id="vote-4" class="fa fa-star" data-vote="4"></span>
                <span id="vote-5" class="fa fa-star" data-vote="5"></span>
              </div>
            </div>

          <div class="col-sm-12">
            <p class="descr-phone">{{ product.description }}</p>
          </div>

          <div class="col-sm-6">
            <h4 class="price">{{ product.price }}$</h4>
          </div>

          <div class="col-sm-6">
            <form id="form_buying_product" > {% csrf_token %}
              {% if user.is_authenticated %}
                {% if in_basket %}
                  <button type="button" class="button-buy" disabled>
                    <i class="fa fa-check-circle"></i>
                  </button>
                {% else %}
                  <button  type="button" action="{% url 'basket_adding' %}" class="change-icon button-buy basket-adding" data-product_id = "{{ product.id }}">
                    <i class="fa fa-cart-plus"></i>
                  </button>
                {% endif %}
              {% else %}
                <a href="{% url 'login' %}">
                  <button type="button" class="button-buy">
                    <i class="fa fa-cart-plus"></i>
                  </button>
                </a>
              {% endif %}
            </form>
          </div>

        </div>

      </div>
    </div>
  </section>


{% endblock %}

{% block extra_js %}
  <script src="{% static "js/product-details.js" %}"></script>
  <script src="{% static "js/product-content.js" %}"></script>
{% endblock %}
