{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/brands-menu.css" %}">
  <link rel="stylesheet" href="{% static "css/content.css" %}">
  {% endblock %}

{% block content %}

	<section id="section1 black">

    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide img-slider"><h1 class="header-slider">Iphone 7+ 32 GB Black</h1><p class="text-slider">Phone 7 and iPhone 7 Plus are smartphones designed, developed, and marketed by Apple Inc. They were announced on September 7, 2016, at the Bill Graham Civic Auditorium in San Francisco</p> <img src="{% static "img/iphone7.png" %}" class="slide-img img-responsive"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8+ 256 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="{% static "img/samsungs8.png" %}" class="slide-img img-responsive"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8 128 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="{% static "img/iphone-x.ppg" %}" class="slide-img img-responsive"></li>
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"></div>
                <div id="next-btn"></div>
            </div>

            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>
        </div>
    </div>
	</section>

	<section id="section-content">
    <div class="container">
      <div class="row white-line">
        <div class="col-sm-3">
          <div id="dropdown" class="dropdown">
            <p class="sort-by">sort by:</p>
            <select class="dropdown-content">
              <option class="dropdown-items" value="0">Default</option>
              <option class="dropdown-items" value="1">Price</option>
              <option class="dropdown-items" value="2">Date</option>
              <option class="dropdown-items" value="3">Discount</option>
              <option class="dropdown-items" value="4">Rating</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="topnav">
            <div class="search-container">

              <form id="searchform" accept-charset="utf-8">
                <input id="search-input" class="search-field slick-list" name="q" type="text" placeholder="Search ...">
                <button type="submit" id="search-submit" class="button-search">
                  <i class="fa fa-search icon"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <a><p id="skip-button" class="skip">Skip</p></a>
        </div>
      </div>

      <div class="row content">
        <div class="col-sm-3">
            <div class="wrapper">
              <h1 class="header-tabs">Brands<i id="brands-icon" class="fa fa-plus plus-brands"></i></h1>
              <div class="tab tab-brand">
                <button class="brand-button" data-brand_id="0">All Brands</button>
              {% for brand in brands %}
                <button class="brand-button" data-brand_id="{{ brand.id }}">{{ brand.brand_name }}</button>
              {% endfor %}
              </div>
            </div>
            <div class="wrapper">
              <h1 class="header-tabs category">Category<i id="category-icon" class="fa fa-plus plus-brands"></i></h1>
              <div class="tab tab-category">
                <button class="category-button" data-category_id="0">All Categories</button>
              {% for category in categories %}
                <button class="category-button" data-category_id="{{ category.id }}">{{ category.category_name }}</button>
              {% endfor %}
              </div>
            </div>
            <div class="wrapper">
              <h1 class="header-tabs category">Discount %<i id="category-icon" class="fa fa-plus plus-brands"></i></h1>
              <div class="tab tab-discount">
                <button class="discount-button" data-discount_id="0"> All %</button>
                <button class="discount-button" data-discount_id="1"> 0-10 %</button>
                <button class="discount-button" data-discount_id="2"> 10-20 %</button>
                <button class="discount-button" data-discount_id="3"> 20-30 %</button>
                <button class="discount-button" data-discount_id="4"> 30-40 %</button>
                <button class="discount-button" data-discount_id="5"> 40-50 %</button>
              </div>
            </div>
            <div class="wrapper wrapper-radio">
              <h1 class="delivery">Delivery options</h1>
              <label class="container-radio">FREE
                <input id="delivery-free" type="radio" checked="checked" name="radio" value="0">
                <span class="checkmark"></span>
              </label>
              <label class="container-radio">4.99$
                <input type="radio" name="radio" value="1">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="wrapper-price">
              <p><label for="amount" class="price-range">Price range:</label></p>
              <div id="slider-range"></div>
              <input type="text" id="amount" readonly>
            </div>
        </div>

        <div class="col-sm-9">
          <div id="product-content">
          {% include 'product_content.html' %}
          </div>
        </div>
        </div>
      </div>



  </section>


{% endblock %}

{% block extra_js %}
  <script src="{% static "js/slider.js" %}"></script>
  <script src="{% static "js/product-content.js" %}"></script>

<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 2700,
      values: [ 0, 2700 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  } );
  </script>

  <script src="{% static "js/filter.js" %}"></script>
{% endblock %}
