{% load staticfiles %}

<form id="form_buying_product" > {% csrf_token %}
  {% for pr in products %}
    <div class="col-sm-4">
      <div class="content-col">

        {% if pr.photo %}
          <img class="photo-phone popup" height="170" width="85" src="{{ pr.photo.url }}" alt="{{ pr.brand }} {{ pr.model }}">
        {% else %}
          <img class="photo-phone-error" height="170" width="170" src="{% static "img/default_sm.png" %}">
        {% endif %}

        {% if pr.is_new %}
          <div class="label-new">
            <span>new</span>
          </div>
        {% endif %}
        {% if pr.discount %}
          <div class="label-discount">
            <span>{{ pr.discount }}%</span>
          </div>
        {% endif %}

          <a class="header-href" href="{% url 'product_details' pk=pr.id %}">
            <h3 class="header-phone">{{ pr.brand }} {{ pr.model }}</h3>
          </a>
          <h4 class="price">{{ pr.price }}$</h4>

        {% if user.is_authenticated %}
          {% if pr.id in product_in_basket %}
            <button type="button" class="button-buy" disabled>
              <i class="fa fa-check-circle"></i>
            </button>
          {% else %}
            <button  type="button" action="{% url 'basket_adding' %}" class="change-icon button-buy basket-adding" data-product_id = "{{ pr.id }}">
              <i class="fa fa-cart-plus"></i>
            </button>
          {% endif %}
        {% else %}
          <a href="{% url 'login' %}">
            <button type="button" class="button-buy">
              <i class="fa fa-cart-plus"></i>
            </button>
          </a>
        {% endif %}

      </div>
    </div>
  {% endfor %}
</form>
