{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
   <link rel="stylesheet" href="{% static "css/base.css" %}">
   {% block extra_css %}{% endblock %}

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<header id="header">
		<nav>
  		<a href="#" class="menu-trigger"><img src="../../static/img/CLXbY05.jpg"></a>
 			<ul class="text-center">
 				<li><img class="logo-head" src="../../static/img/logo.png"></li>
    		<li><a href="#">Devices</a></li>
    		<li><a href="#">Delivery & Payment</a></li>
    		<li><a href="#">Guarantee</a></li>
    		<li><a href="#">About us</a></li>

        {% if user.is_authenticated %}
          <a class="top-menu shopping-cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
          <a class="top-menu" href="#"><span class="glyphicon glyphicon-user"></span></a>
          <a class="btn btn-outline-secondary btn-log" href="{% url 'logout' %}">{% trans "Log out" %}</a>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-log">Sign in</a>
      {% endif %}
  		</ul>
		</nav>
	</header><hr class="head-mb">

  <section id="info">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <ul class="info-list">
            <li class="info-item">Top sales</li>
            <li class="info-item">Brand focus</li>
            <li class="info-item">Hi-tech</li>
            <li class="info-item">Best sellers</li>
            <li class="info-item">Projects</li>
          </ul>
        </div>
        <div class="col-md-1 center">
          <!-- <a class="support" href="#">support</a> -->
        </div>
        <div class=" col-md-4 ">
          <div class="topnav">
            <div class="search-container">
              <form id="searchform" action="{% url 'search_smartphones' %}" method="get" accept-charset="utf-8">
                <button type="submit" class="button-search">
                  <i class="fa fa-search icon"></i>
                </button>
                <input class="searchfield" name="q" type="text" id="search" placeholder="Search">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% block content %}
  {% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img class="logo-footer" src="../../static/img/logo.png">
        </div>
        <div class="col-md-9">
          <ul class="footer-menu text-center">
            <li class="footer-item">Home</li>
            <li class="footer-item">Shop</li>
            <li class="footer-item">Team</li>
            <li class="footer-item">About us</li>
            <li class="footer-item">Contact</li>
          </ul>
        </div>
        <div class="col-md-1">
          <ul class="social">
            <li class="social-items"></li>
            <li class="social-items"></li>
            <li class="social-items"></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static "js/slider.js" %}"></script>
<script src="{% static "js/jquerymenu.js" %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
