{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
   <link rel="stylesheet" href="{% static "css/style.css" %}">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="{% static "js/jquerymenu.js" %}"></script>
   <script src="{% static "js/slider.js" %}"></script>
</head>
<body>
	<header id="header">
		<nav>
  		<a href="#" class="menu-trigger"><img src="../../static/img/CLXbY05.jpg"></a>
 			<ul class="text-center">
 				<li><a class="navbar-brand" href="#">Navbar</a></li>
    		<li><a href="#">Home</a></li>
    		<li><a href="#">Devices</a></li>
    		<li><a href="#">Delivery & Payment</a></li>
    		<li><a href="#">Guarantee</a></li>
    		<li><a href="#">About us</a></li>
    		<button type="button" class="btn btn-outline-secondary">Sign in</button>
  		</ul>
		</nav>
	</header><hr class="head-mb">

  {% block content %}
  {% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <h3 class="logo">logo</h3>
        </div>
        <div class="col-md-10">
          <ul class="footer-menu text-center">
            <li class="footer-item">Home</li>
            <li class="footer-item">Shop</li>
            <li class="footer-item">Team</li>
            <li class="footer-item">About us</li>
            <li class="footer-item">Contact</li>
          </ul>
        </div>
        <div class="col-md-1">
          <ul class="social">
            <li class="social-items"></li>
            <li class="social-items"></li>
            <li class="social-items"></li>
          </ul>
        </div>
      </div><hr>
    </div>
  </footer>

</body>
</html>
