{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
   <link rel="stylesheet" href="{% static "css/style.css" %}">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="{% static "js/jquerymenu.js" %}"></script>
   <script src="{% static "js/slider.js" %}"></script>
</head>
<body>
	<header id="header">
		<nav>
  		<a href="#" class="menu-trigger"><img src="../../static/img/CLXbY05.jpg"></a>
 			<ul class="text-center">
 				<li><a class="navbar-brand" href="#">Navbar</a></li>
    		<li><a href="#">Home</a></li>
    		<li><a href="#">Devices</a></li>
    		<li><a href="#">Delivery & Payment</a></li>
    		<li><a href="#">Guarantee</a></li>
    		<li><a href="#">About us</a></li>
    		<button type="button" class="btn btn-outline-secondary">Sign in</button>
  		</ul>
		</nav>
	</header><hr>

	<section id="section1 black">

    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide img-slider"><h1 class="header-slider">Iphone 7 32 GB</h1><p class="text-slider">Phone 7 and iPhone 7 Plus are smartphones designed, developed, and marketed by Apple Inc. They were announced on September 7, 2016, at the Bill Graham Civic Auditorium in San Francisco</p> <img src="../../static/img/iphone7.png" class="slide-img"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8+ 256 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="../../static/img/samsungs8.png" class="slide-img"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8 128 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="../../static/img/sgs8.png" class="slide-img"></li>
            </ul>

            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>
        </div>
    </div>
	</section><hr>

  <section id="section-content">
    <div class="container">
      <div class="row">
           <div class="col-md-2 "></div>
           <div class="col-md-2 col-sm-2 col-sm-offcet-1">
            <img class="photo-phone" src="../../static/img/sgs8Small.jpg" >
          </div>
          <div class="col-md-7 col-sm-4">
            <h3 class="header-phone">Samsung Galaxy S8 64GB Midnight Black</h3>
            <p descr-phone>Screen (5.8 ", Super AMOLED, 2960х1440) / Samsung Exynos 8895 (4 x 2.3 GHz + 4 x 1.7 GHz) / main camera 12 Mp + front 8 Mp / RAM 4 GB / 64 GB internal memory + microSD (up to 256 GB) / 3G / LTE / GPS / support for 2 SIM cards (Nano-SIM) / Android 7.0 (Nougat) / 3000 mAh</p>
          </div>
          <div class="col-md-1 col-sm-3">
            <h4 class="price">699$</h4>
            <input type="button" class="button-buy" value="Buy">
          </div>
          <div></div>
          </div><hr>

          <div class="row">
          <div class="col-md-2 "></div>
          <div class="col-md-2 col-sm-2 col-sm-offcet-1">
            <img src="../../static/img/lenovo small.jpg" >
          </div>
          <div class="col-md-7 col-sm-4">
            <h3 class="header-phone">Lenovo K6 Note Grey</h3>
            <p descr-phone>Screen (5.5 ", IPS, 1920x1080) / Qualcomm Snapdragon 430 (1.4 GHz) / main camera: 16 megapixels, front camera: 8 megapixels / RAM 3 GB / 32 GB internal memory + microSD / SDHC (up to 128 GB) / 3G / LTE / GPS / support for 2 SIM cards (Nano-SIM) / Android 6.0 (Marshmallow) / 4000 mAh</p>
          </div>
          <div class="col-md-1 col-sm-3">
            <h4 class="price">149$</h4>
            <input type="button" class="button-buy" value="Buy">
          </div>
          </div><hr>

          <div class="row">
          <div class="col-md-2 "></div>
          <div class="col-md-2 col-sm-2 col-sm-offcet-1">
            <img src="../../static/img/sgj7.jpg" >
          </div>
          <div class="col-md-7 col-sm-4">
            <h3 class="header-phone">Samsung Galaxy J7 (2017) J730 Black</h3>
            <p descr-phone>Screen (5.5 ", Super AMOLED, 1920x1080) / Exynos 7870 (1.6GHz) / main camera: 13MP, front camera: 13MP / RAM 3GB / 16GB of internal memory + microSD / SDHC (up to 256GB) / 3G / LTE / GPS / GLONASS / support for 2 SIM cards (Nano-SIM) / Android 7.1 (Nougat) / 3600 mAh</p>
          </div>
          <div class="col-md-1 col-sm-3">
            <h4 class="price">209$</h4>
            <input type="button" class="button-buy" value="Buy">
          </div>
          </div><hr>

          <div class="row">
          <div class="col-md-2 "></div>
          <div class="col-md-2 col-sm-2 col-sm-offcet-1">
            <img src="../../static/img/xrm4.jpg" >
          </div>
          <div class="col-md-7 col-sm-4">
            <h3 class="header-phone">Xiaomi Redmi Note 4 3/32GB</h3>
            <p descr-phone>Screen (5.5 ", IPS, 1920x1080) / Qualcomm Snapdragon 625 (2 GHz) / main camera: 13 Mp, front camera: 5 Mp / RAM 3 GB / 32 GB internal memory + microSD / SDHC (up to 128 GB) / 3G / LTE / GPS / GLONASS / support for 2 SIM cards (Micro-SIM + Nano-SIM) / Android 6.0 (Marshmallow) / 4100 mAh</p>
          </div>
          <div class="col-md-1 col-sm-3">
            <h4 class="price">129$</h4>
            <input type="button" class="button-buy" value="Buy">
          </div>
          </div><hr>

          <div class="row">
          <div class="col-md-2 "></div>
          <div class="col-md-2 col-sm-2 col-sm-offcet-1">
            <img src="../../static/img/sga8.jpg" >
          </div>
          <div class="col-md-7 col-sm-4">
            <h3 class="header-phone">Samsung Galaxy A8 2018 32GB Black</h3>
            <p descr-phone>Screen (5.6 ", Super AMOLED, 1080x2220) / Samsung Exynos 7885 (2.2 GHz + 1.6 GHz) / main camera: 16 megapixels, front camera: 16 megapixels + 8 megapixels / RAM 4 GB / 32 GB internal memory + microSD / SDHC up to 256 GB) / 3G / LTE / GPS / GLONASS / support for 2 SIM cards (Nano-SIM) / Android 7.1.1 (Nougat) / 3000 mAh</p>
          </div>
          <div class="col-md-1 col-sm-3">
            <h4 class="price">369$</h4>
            <input type="button" class="button-buy" value="Buy">
          </div>
          </div><hr>

          <div class="row">
          <div class="col-md-2 "></div>
          <div class="col-md-2 col-sm-2 col-sm-offcet-1">
            <img src="../../static/img/hmp10.jpg" >
          </div>
          <div class="col-md-7 col-sm-4">
            <h3 class="header-phone">Huawei Mate 10 Lite 4/64GB Blue</h3>
            <p descr-phone>Screen (5.9 ", IPS, 2160x1080) / HiSilicon Kirin 659 (4 cores 2.36 GHz + 4 1.7 GHz cores) / two main cameras: 16 Mp + 2 Mp, two front cameras: 13 Mp + 2 Mp / RAM 4 GB / 64 GB internal memory + microSD / SDHC (up to 128 GB) / 3G / LTE / GPS / GLONASS / support for 2 SIM cards (Nano-SIM) / Android 7.0 (Nougat) / 3340 mAh</p>
          </div>
          <div class="col-md-1 col-sm-3">
            <h4 class="price">399$</h4>
            <input type="button" class="button-buy" value="Buy">
          </div>
          </div><hr>

    </div>
  </section>
    
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <h3 class="logo">logo</h3>
        </div>
        <div class="col-md-10">
          <ul class="footer-menu text-center">
            <li class="footer-item">Home</li>
            <li class="footer-item">Shop</li>
            <li class="footer-item">Team</li>
            <li class="footer-item">About us</li>
            <li class="footer-item">Contact</li>
          </ul>
        </div>
        <div class="col-md-1">
          <ul class="social">
            <li class="social-items"></li>
            <li class="social-items"></li>
            <li class="social-items"></li>
          </ul>
        </div>
      </div><hr>
    </div>
  </footer>

</body>
</html>

