{% extends 'main/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}

  <link rel="stylesheet" href="{% static "css/basket.css" %}">
 {% endblock %}

{% block content %}
	<hr>
	<section id="basket">
		<div class="container">
			<div class="row">
				<div class="col-sm-5"><h4 class="header-cart">Shopping Cart</h4><p class="item">(1 item)</p></div>
			</div>
			<div class="row gray-line">
				<div class="col-sm-2"><p class="center-text">Item Details</p></div>
				<div class="col-sm-1 offset-sm-3"><p class="center-text">Price</p></div>
				<div class="col-sm-2"><p class="center-text">Quantity</p></div>
				<div class="col-sm-2 offset-sm-2"><p class="center-text">Subtotal</p></div>
			</div>
			{% for pr in products %}
			<div class="row">
				{% if pr.product.photo %}
				  <div class="col-sm-2"><img src="{{ pr.product.photo.url }}"></div>
				{% else %}
				  <div class="col-sm-2"><img height="140" width="150" src="{% static "img/default_sm.png" %}"></div>
				{% endif %}
				<div class="col-sm-3">
					<p class="header-ph">{{ pr.product.brand }} {{ pr.product.model }}</p>
					<button class="btn-remove" type="submit">&times; Remove</button>
				</div>
				<div class="col-sm-1"><p class="price">{{ pr.product.price }}$</p></div>
				<div class="col-sm-2">
					<div class="input-group quantity_goods" id="quantity_goods"> {% csrf_token %}
						<p class="buttonsquant button_minus">-</p>
  						<input action="{% url 'update_quantity' %}" class="input-quantity num_count" value="{{ pr.count }}" data-product_id = "{{ pr.id }}" disabled>
  						<p class="buttonsquant button_plus">+</p>
					</div>
				</div>
				<div class="col-sm-2 offset-sm-2">
					<p class="subtotal">{{ pr.total_price }}$</p>
				</div>
			</div>
			{% endfor %}
			<div class="row">
				<div class="col-sm-3 offset-sm-9">
					<button class="button-buy" type="submit">Proceed to pay {{ order.total_price }}$</button>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block extra_js %}
  <script src="{% static "js/quantity_goods.js" %}"></script>
{% endblock %}
