{% load staticfiles %}
<form id="form_buying_product" > {% csrf_token %}
  {% if products %}
    <div class="row">
      {% for pr in products %}
        <div class="col-md-3">
          {% if pr.photo %}
            <img class="photo-phone popup" height="130" width="65" src="{{ pr.photo.url }}" alt="{{ pr.brand }} {{ pr.model }}">
          {% else %}
            <img class="photo-phone-error" height="150" width="150" src="{% static "img/default_sm.png" %}">
          {% endif %}
        </div>
        <div class="col-md-5">
          <a class="header-href" href="{% url 'product_details' pk=pr.id %}">
            <h3 class="header-phone">{{ pr.brand }} {{ pr.model }}</h3>
          </a>
          <p descr-phone>{{ pr.description|truncatewords:45 }}</p>
        </div>
        <div class="col-md-2">
          <h4 class="price">{{ pr.price }}$</h4>
          {% if user.is_authenticated %}
            {% if pr.id in product_in_basket %}
              <button type="button" class="button-buy" disabled><i class="fa fa-check-circle"></i></button>
            {% else %}
              <button  type="button" action="{% url 'basket_adding' %}" class="change-icon button-buy basket-adding" data-product_id = "{{ pr.id }}">
                <i class="fa fa-cart-plus"></i>
              </button>
            {% endif %}
          {% else %}
            <a href="{% url 'login' %}">
              <button type="button" class="button-buy"><i class="fa fa-cart-plus"></i></button>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="col-md-10"><p class="no-result-brand">Nothing found, try change request</p></div>
  {% endif %}
</form>
