{% extends 'main/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/brands-menu.css" %}">
  <link rel="stylesheet" href="{% static "css/content.css" %}">
  {% endblock %}

{% block content %}

	<section id="section1 black">

    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide img-slider"><h1 class="header-slider">Iphone 7+ 32 GB Black</h1><p class="text-slider">Phone 7 and iPhone 7 Plus are smartphones designed, developed, and marketed by Apple Inc. They were announced on September 7, 2016, at the Bill Graham Civic Auditorium in San Francisco</p> <img src="../../static/img/iphone7.png" class="slide-img"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8+ 256 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="../../static/img/samsungs8.png" class="slide-img"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8 128 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="../../static/img/sgs8.png" class="slide-img"></li>
            </ul>

            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>
        </div>
    </div>
	</section>

	<section id="section-content">
    <div class="container">
      <div class="row white-line">
        
      </div>

      <div class="row content">
        <div class="col-sm-3">
            <div class="wrapper">
              <h1 class="header-tabs">Brands</h1>
              <div class="tab">
              {% for brand in brands %}
                <button value="{{ brand.id }}">{{ brand.brand_name }}</button>
              {% endfor %}
              </div>
            </div>
        </div>  
        
        <div class="col-sm-9">
          <form id="form_buying_product" > {% csrf_token %}
          {% for pr in products %}
            <div class="col-sm-4">
              <div class="content-col">
              {% if pr.photo %}
                <img class="photo-phone popup" height="170" width="85" src="{{ pr.photo.url }}" alt="{{ pr.brand }} {{ pr.model }}">
              {% else %}
                <img class="photo-phone-error" height="170" width="170" src="{% static "img/default_sm.png" %}">
              {% endif %}
                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <span class="close">&times;</span>
                  <img class="modal-content" id="img01">
                  <div id="caption"></div>
                </div> 
                <a class="header-href" href="{% url 'product_details' pk=pr.id %}"><h3 class="header-phone">{{ pr.brand }} {{ pr.model }}</h3></a>
                <h4 class="price">{{ pr.price }}$</h4>
              {% if user.is_authenticated %}
              {% if pr.id in product_in_basket %}
                <button type="button" class="button-buy" disabled><i class="fa fa-check-circle"></i></button>
              {% else %}
                <button  type="button" action="{% url 'basket_adding' %}" class="change-icon button-buy basket-adding" data-product_id = "{{ pr.id }}">
                <i class="fa fa-cart-plus"></i>
                </button>
              {% endif %}
              {% else %}
                <a href="{% url 'login' %}">
                  <button type="button" class="button-buy"><i class="fa fa-cart-plus"></i></button>
                </a>
              {% endif %}
              </div>
            </div>
          {% endfor %}
          </form>      
        </div>
      

          
        
        
        
        </div> 
      </div>

      <!-- menu -->
        <!--
        <div class="wrapper"><h1 class="header-tabs">Brands</h1>
          <div class="tab">
            {% for brand in brands %}
              <button value="{{ brand.id }}">{{ brand.brand_name }}</button>
            {% endfor %}
          </div>
        </div> -->
      <!-- content -->
      

    

  </section>

{% with object_list=products %}
  {% include "main/pagination.html" %}
{% endwith %}

{% endblock %}

{% block extra_js %}
  <script src="{% static "js/jquery.cookie.js" %}"></script>
  <script src="{% static "js/brands-menu.js" %}"></script>
  <script src="{% static "js/popup.js" %}"></script>
  <script src="{% static "js/basket-adding.js" %}"></script>
{% endblock %}
