{% extends 'main/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/brands-menu.css" %}">
  <link rel="stylesheet" href="{% static "css/content.css" %}">
  {% endblock %}

{% block content %}

	<section id="section1 black">

    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide img-slider"><h1 class="header-slider">Iphone 7+ 32 GB Black</h1><p class="text-slider">Phone 7 and iPhone 7 Plus are smartphones designed, developed, and marketed by Apple Inc. They were announced on September 7, 2016, at the Bill Graham Civic Auditorium in San Francisco</p> <img src="../../static/img/iphone7.png" class="slide-img"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8+ 256 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="../../static/img/samsungs8.png" class="slide-img"></li>
                <li class="slide img-slider"><h1 class="header-slider">Samsung Galaxy S8 128 GB</h1><p class="text-slider">The Samsung Galaxy S8, Samsung Galaxy S8+ (shortened to S8 and S8+, respectively) and Samsung Galaxy S8 Active are Android smartphones produced by Samsung Electronics as part of the Samsung Galaxy S series. </p><img src="../../static/img/sgs8.png" class="slide-img"></li>
            </ul>

            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>
        </div>
    </div>
	</section>

	<section id="section-content">
    <div class="container parent-container">

      <!-- menu -->

        <div class="wrapper"><h1 class="header-tabs">Brands</h1>
          <div class="tab">
            {% for brand in brands %}
              <button value="{{ brand.id }}">{{ brand.brand_name }}</button>
            {% endfor %}
          </div>
        </div>

      <!-- content -->
      {% if smartphones %}
        <div class="row">
        {% for sm in smartphones %}
          <div class="col-md-3">
            {% if sm.photo %}
              <img class="photo-phone" height="150" width="150" src="{{ sm.photo.url }}">
              {% else %}
              <img class="photo-phone" height="150" width="150" src="{% static "img/default_sm.png" %}">
            {% endif %}
          </div>
          <div class="col-md-5">
            <h3 class="header-phone">{{ sm.brand }} {{ sm.model }}</h3>
            <p descr-phone>{{ sm.description|truncatewords:45 }}</p>
          </div>
          <div class="col-md-2">
            <h4 class="price">{{ sm.price }}$</h4>
            <input type="button" class="button-buy" value="Buy">
          </div>

        {% endfor %}
        </div>
      {% else %}
        <p>No results</p>
      {% endif %}
    </div>

  </section>

{% with object_list=smartphones %}
  {% include "main/pagination.html" %}
{% endwith %}

{% endblock %}

{% block extra_js %}
  <script src="{% static "js/jquery.cookie.js" %}"></script>
  <script src="{% static "js/brands-menu.js" %}"></script>
{% endblock %}
