/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 18px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

.jopa {
    display: block;
}

.tab {
    height: 150px;
    overflow-y: auto;
}

.wrapper {
  width:225px;
}

.header-tabs {
  background: #4B4A4A;
  border-radius:5px 5px 0 0;
  margin:10px 0 0 0;
  color:#FFFFF7;
  font-size:20px;
  padding: 13px;
  text-align:center;
 }

.header-tabs:hover {
  cursor:pointer;
  background:  black;
}

.tab {
  background:#FFFFF7;
  border-radius:0 0 5px 5px;
  color: #60646D;
  width: 225px;
}
