/*Style for tabs*/
.tab {
  height: 220px;
  width: 100%;
  background: #FFFFF7;
  color: #60646D;
  border: 1px solid #ccc;
  border-radius:0 0 5px 5px;
  overflow-y: auto;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 18px 16px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.wrapper {
  width: 100%;
}

.header-tabs {
  background: #4B4A4A;
  border-radius: 5px 5px 0 0;
  margin: 0;
  color: #FFFFF7;
  font-size: 20px;
  padding: 13px;
  text-align: center;
  width: 100%;
  text-align: left;
 }

.header-tabs:hover {
  cursor: pointer;
  background: black;
}
