#section-content {
  background-color: #ededed;
  padding: 50px 0 50px 0;
  min-height: 400px;
}

input.button-buy {
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #4B4A4A;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
input.button-buy:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
  background-color: black;
}
input.button-buy:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

.result-search {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
}

.no-result-brand, .no-result {
  font-size: 24px;
  font-weight: bold;
  text-align: center !important;
  padding-top: 50px;
}

.no-result-position {
  top: 30%;
  left: 40%;
}

.parent-container {
   display: flex;
}

.header-phone, .price {
  margin-top: 20px;
}

.header-phone {
  margin-bottom: 5px;
}

.price {
  text-align: center;
  width: 100px;
}

/*Pagination*/
.pagination {
  position: relative;
  overflow:hidden;
  height:40px;
  margin:30px;
}

.pagination ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
  left:50%;
  float:left;
  font:14px Arial, Helvetica, sans-serif;
  height:40px;

}
.pagination ul li {

  position:relative;
  left:-50%;
  float:left;
  margin:0 10px;
  height:40px

}
.pagination ul li a {
  color: black;
  display:block;
  text-decoration:none;
  padding:0 15px;
  line-height: 40px;
  background-color: white;
  font-size: 18px;
}
.pagination ul li a:hover {
  background-color: black;
  color: white;
}
