@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Satisfy');

html {
 overflow-x:  hidden;
}

html, body {
  height: 100%;
}

.logo {
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  font-weight: 400;
  padding: 0;
  padding-top: 12px;
}

.logo:hover {
  color: gray;
  text-decoration: none;
}

#wrap {
  min-height: 100%;
  background-color: #ededed;
}

main {
  padding-bottom: 46px;
}

footer {
  margin-top: -46px;
  height: 46px;
}

header {
  position: fixed;
  z-index: 100;
  width: 99%;
}

main {
  margin-top: 50px;
}

#before-load {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}
#before-load i {
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -35px;
}

/* Header */
nav {
  width: 100%;
  background-color:white;
}

nav ul {
  margin: 0;
}

nav ul li {
  display:inline-block;
}

nav a {
  color:black;
  display:block;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

nav li a:hover {
  color: gray;
  text-decoration: none;
}

.head-mb {
  margin: 0;
}

.menu-trigger {
  display:none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: black;
  font-size: 22px;
  display: inline-block;
  padding: 0;
  margin-top: 15px;
  margin-right: 10px;
}

.basket-quantity {
  top: -6%;
  position: absolute;
  color: white;
  left: 54%;
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}

.shopping-cart {
  margin-left: 80px;
  position: relative;
}

.btn-log {
  border: 1px solid gray !important;
  border-radius: 5px !important;
}

.logout{
  margin-top: -15px !important;
}

.login {
  margin-left: 150px;
  margin-top: 15px;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.menu-trigger {
  height: 40px;
  width: 50px;
  padding-top: 15px;
}

@media screen and (max-width:767px) {
  header {
    width: 97%;
  }

  .menu-trigger {
    display :block;
  }

  main {
    padding-top: 60px;
  }

  nav ul li {
    display:block;
    border-top:1px #79896D solid;
  }
  nav ul {
    display:none;
  }

  .mt-head {
    margin-top: 0;
  }

  #login {
    display: block;
    margin: 0 auto;
  }

  #login, .logout {
    width: 30%;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .logo {
    text-align: center;
    margin-top: -35px;
    width: 240px;
    float: left;
    margin-left: 30px; 
  }
}

@media(min-width:768px) and (max-width:1200px) {
  nav a {
    padding:22px 8px;
    float: left;
  }
}

/* Footer */
footer {
  background-color: black;
  width: 100%;
}

.social1 {
  list-style: none;
}

.copy {
  font-weight: bold;
  padding-top: 15px;
  color: white;
  letter-spacing: 3px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.social1 {
  position: relative;
  display: inline-block;
  float: right;
  margin: 0;
}

.social-items {
  padding-top: 5px;
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}

.icon {
  width: 35px;
  height: 35px;
}

.social-items:hover {
  opacity: 0.5;
}
  /* Footer adaptive*/

@media(min-width:0px) and (max-width: 575px) {
  .copy {
    padding-top: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
  }

  .social1 {
    float: right !important;
    margin-top: -40px;
  }

  footer {
    height: 70px;
  }

  .social-items {
    width: 1px;
    height: 1px;
    padding-right: 40px;
  }
}

@media(min-width:576px) and (max-width: 1200px) {
  footer {
    height: 70px;
  }

  .copy {
    width: 100%;
    padding-top: 0;
  }
}
