#basket {
	min-height: 650px;
	background-color: #fff;
}

.header-cart {
	text-align: left;
	color: #3D3737;
	margin: 25px 10px 25px 15px;
	display: inline-block;
}

.item {
	color: #857C7C;
	font-size: 16px;
	display: inline-block;
}

.gray-line {
	background-color: #F5F2F2;
	height: 50px;
}

.center-text {
	color: #857C7C;
	font-size: 16px;
	text-align: center;
	margin-top: 13px;
}

.photo-ph {
	display: block;
  margin: 0 auto;
  margin-top: 5px;
 }

.photo-ph-error {
	margin-left: 10px;
}

.header-ph, .price, .subtotal {
	color: #3D3737;
	font-size: 16px;
	margin-top: 30px;
}

.btn-remove {
	background-color: white;
	border: none !important;
	color: gray;
	margin-top: 20px;
}

.btn-remove:hover {
	color: black;
}

.btn-remove:focus {
	outline: none;
}

.price, .subtotal {
	text-align: center;
}

.quantity_goods {
	text-align: center;
}

.input-quantity {
	width: 35px;
	height: 35px;
	text-align: center;
	border-radius: 3px;
	margin: 25px 8px 0 8px;
	display: inline-block;
}

.buttonsquant {
	cursor: pointer;
	font-size: 20px;
	width: 20px;
	margin: 0;
	display: inline-block;
}

button.button-buy {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 70%;
  height: 50px;
  color: rgb(245, 245, 245);
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0.3em 1em;
  background-color: black;
  border: none;
  border-radius: 8px;
  float: right;

}
button.button-buy:hover {
  cursor: pointer;
  background-color: gray;
}

@media(min-width:1200px) {
	#wrap {
		background-color: #fff;
	}
}

@media(min-width:0px) and (max-width: 352px) {
	.header-ph, .price {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.btn-remove {
		margin-top: 0;
	}

	.input-quantity {
		margin-top: 5px;
		width: 25px;
		height: 25px;
	}

	.subtotal {
		margin-top: 10px;
	}

	.photo-ph-error {
		margin-left: 22%;
	}

	button.button-buy {
		float: left !important;
		margin-left: 15%;
	}
}