/*Style for tabs*/
.tab {
  height: 220px;
  width: 100%;
  background: #FFFFF7;
  color: #60646D;
  border: 1px solid #ccc;
  border-radius:0 0 5px 5px;
  overflow-y: auto;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 18px 16px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  outline: none;
}

.tab button:hover {
  background-color: #ddd;
  outline: none;
}


.button-active {
  outline:0 !important;
  background-color: #ccc !important;
  color: red;

}

.wrapper {
  width: 100%;
}

.header-tabs, .category, .delivery {
  background: #fff;
  margin: 0;
  border-radius: 5px 5px 0 0;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 13px;
  text-align: center;
  width: 100%;
  text-align: left;
  display:  inline-block;
  color: gray;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 550;
 }

.header-tabs:hover, .category:hover {
  cursor: pointer;
  background: #4B4A4A;
  color: white;
}

.plus-brands {
  float: right !important ;
}

.category {
  border-radius: 0 !important;
}

.wrapper-radio {
  height: 80px !important;
}

.wrapper-radio, .wrapper-price {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
}

.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 15%;
  margin-top: 1%;
  margin-left: 8%;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  background-color: #fff;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  background-color: grey;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 15px;
  height: 15px;
  width: 15px;
  background-color: #C8C8C8;
  border-radius: 50%;
}

.container-radio input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

#amount {
  border:0;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  font-weight: 600;
  color: black;
}

.price-range {
  text-align: center !important;
  font-size: 13px;
  margin: 10px 0 0 10px;
  color: gray;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 550;
}

.wrapper-price  {
  height: 90px;
}

#slider-range {
  width: 80% !important;
  margin: 0 auto;
}

.fa-plus, .fa-minus {
  color: #ccc;
}

@media(min-width:768px) and (max-width: 1199px) {
  .checkmark {
    left : 0;
  }
}
